In [25]:
import pandas as pd

In [26]:
%pip install openpyxl

In [27]:
use_cols = ['Date','CO','Ozone','NO','NO2','NOx','NH3','SO2','PM2.5','PM10','Benzene','Toluene','Xylene','Temp','RH','WD','WS','SR','RF']

In [28]:
df = pd.read_excel("5 years_1.xlsx")

In [29]:
df.head()

,days,CO\n(mg/m³),Ozone (µg/m³),NO\n(µg/m³),NO2\n(µg/m³),NOx (µg/m³),NH3\n(µg/m³),SO2\n(µg/m³),PM 2.5\n(µg/m³),PM 10\n(µg/m³),Benzene (µg/m³),Toluene (µg/m³),Xylene (µg/m³),AT (oC),RH (%),WD(degree),WS\n(m/s),SR\n(W/m²),RF\n(mm)
0,01-01-18 M on,0.94,95.5,1.5,22.9,24.4,11.4,5.5,58,96,2.6,3.5,0.6,25,65,160,2.2,79,0
1,02-01-18 Tue,1.02,99,1.5,28.9,30.4,11.9,10.1,65,109,3,3.8,0.8,24.7,60,176,2,120,0
2,03-01-18 Wed,1.08,85.2,4.4,41.9,46.2,13.3,12.9,78,151,2.9,6.2,1.7,24.2,62,124,1.4,118,0
3,04-01-18 Thu,1.91,34.2,30.9,81.8,112.8,17.2,33.2,109,234,3.4,6.1,2.5,23,69,214,0.8,111,0
4,05-01-18 Fri,1.51,57.1,41.4,59.7,101.2,14.1,11.3,90,175,4.5,7.8,3.3,23.2,67,221,1.3,151,0

In [30]:
df.isnull().sum()

days                0
CO\n(mg/m³)         0
Ozone (µg/m³)       0
NO\n(µg/m³)         0
NO2\n(µg/m³)        0
NOx (µg/m³)         2
NH3\n(µg/m³)        0
SO2\n(µg/m³)        0
PM 2.5\n(µg/m³)     2
PM 10\n(µg/m³)      3
Benzene (µg/m³)     1
Toluene (µg/m³)     0
Xylene (µg/m³)      0
AT (oC)             0
RH (%)              0
WD(degree)          0
WS\n(m/s)           0
SR\n(W/m²)          0
RF\n(mm)           60
dtype: int64

In [31]:
df.shape

(2006, 19)

In [32]:
indu = []
for i,date in df.days.items():
    if date in ['Minimum','Maximum','Average']:
        indu.append(i)

In [33]:
len(indu)

180

In [34]:
df.drop(indu,axis = 0,inplace = True)
df.shape

(1826, 19)

In [35]:
df.columns = use_cols

In [36]:
df_copy = df.drop(['Date','WS'],axis =1)

In [37]:
df.dtypes

Date       object
CO         object
Ozone      object
NO         object
NO2        object
NOx        object
NH3        object
SO2        object
PM2.5      object
PM10       object
Benzene    object
Toluene    object
Xylene     object
Temp       object
RH         object
WD         object
WS         object
SR         object
RF         object
dtype: object

In [45]:
index = []
for i, row_data in df_copy.iterrows():
    # Check if any column contains 'Maint*' (with wildcards)
    if row_data.astype(str).str.contains('Maint.*|-|Error', regex=True).any():
        index.append(i)

In [46]:
len(index)

130

In [49]:
# df_copy.drop(index,axis=0, inplace=True)
df_copy.shape

(1671, 17)

In [50]:
cols = ['CO','Ozone','NO','NO2','NOx','NH3','SO2','PM2.5','PM10','Benzene','Toluene','Xylene','Temp','RH','WD','SR','RF']

In [51]:
df[cols] = df_copy[cols]

In [52]:
df.CO.astype(float)

0       0.94
1       1.02
2       1.08
3       1.91
4       1.51
        ...
1998    0.59
1999    0.59
2000    0.53
2001    0.59
2002    0.59
Name: CO, Length: 1826, dtype: float64

In [53]:
df[cols] = df[cols].astype(float)

In [54]:
df["Date"]  = pd.to_datetime(df.Date)

In [55]:
df.head()

,Date,CO,Ozone,NO,NO2,NOx,NH3,SO2,PM2.5,PM10,Benzene,Toluene,Xylene,Temp,RH,WD,WS,SR,RF
0,2018-01-01,0.94,95.5,1.5,22.9,24.4,11.4,5.5,58.0,96.0,2.6,3.5,0.6,25.0,65.0,160.0,2.2,79.0,0.0
1,2018-02-01,1.02,99.0,1.5,28.9,30.4,11.9,10.1,65.0,109.0,3.0,3.8,0.8,24.7,60.0,176.0,2,120.0,0.0
2,2018-03-01,1.08,85.2,4.4,41.9,46.2,13.3,12.9,78.0,151.0,2.9,6.2,1.7,24.2,62.0,124.0,1.4,118.0,0.0
3,2018-04-01,1.91,34.2,30.9,81.8,112.8,17.2,33.2,109.0,234.0,3.4,6.1,2.5,23.0,69.0,214.0,0.8,111.0,0.0
4,2018-05-01,1.51,57.1,41.4,59.7,101.2,14.1,11.3,90.0,175.0,4.5,7.8,3.3,23.2,67.0,221.0,1.3,151.0,0.0

In [18]:
df["Month"] = df.Date.dt.month

In [19]:
df["Year"] = df.Date.dt.year

In [20]:
df["Date"] = df.Date.dt.date

In [42]:
Pivot_table

                                                 Benzene  \
Month                                                 1
Year
2018   [2.6, 7.7, 7.2, 4.4, 3.2, 4, 4.8, 6.4, 5, 4.2,...
2019   [6, 2.9, 4.6, 3.2, 1.1, 4.6, 9.7, 4.4, -, 4.2,...
2020   [4.7, 3.6, 4.5, 6.9, 9.3, 5.6, 4.6, 3.6, 3.4, ...
2021   [-, 2.7, 2.7, 2.2, 2.9, 3.2, 3.2, 2.6, 2.1, 5....
2022   [2.2, 2.2, 3.8, 3, 3.7, 5.5, 2.9, 5.1, 9.1, 6,...

                                                          \
Month                                                 2
Year
2018   [3, 8.2, 5.5, 3.4, 6.4, 4.4, 3.8, 3.5, 4.5, 4....
2019   [5.3, 5.6, 1.2, 2.3, 2, 2.7, 5.6, 4.6, -, -, 6...
2020   [4.9, 2.5, 4.6, 6.3, 4.3, 5.4, 4.7, 5.6, 4.1, ...
2021   [1.9, 1.6, 4.3, 3.8, 3.9, 3.6, 3.5, 2.7, 5.4, ...
2022   [3.5, 2.6, 1.8, 3, 1.9, 2.4, 4.1, 3.8, 3.6, 0....

                                                          \
Month                                                 3
Year
2018   [2.9, 8.6, 5, 3.1, 6.9, 4, 4.6, 4.4, 5.1, 3.2,...
2019   [5.8, 4.7, 1.4, 1.9, 5, 7.8, 6.9, 7, 6, -, 6.5...
2020   [4.9, 2.8, 5.8, 2.2, 2.5, 3.8, 4.3, 5.1, 4.9, ...
2021   [2.8, 3.5, 4.4, 3.4, 3.2, 2.7, 1.6, 1.7, 4, 1....
2022   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...

                                                          \
Month                                                 4
Year
2018   [3.4, 7.3, 4.8, 3.5, 5.2, 3.8, 4.9, 6.1, 4.6, ...
2019   [5, 3, 1.9, 3.2, 2.4, 3.6, 6.8, 6, 4.7, -, 6.9...
2020   [4.6, 4.1, 2.3, 5, 4.2, 3.2, 2.2, 2.2, 2.3, 2....
2021   [5.1, 2.9, 1.2, 3.4, 2.1, 3.1, 1.4, 1.6, 2.2, ...
2022   [1.3, 1, 2.1, 0.6, 0.9, 1.1, 2.1, 1.6, 1.9, 1....

                                                          \
Month                                                 5
Year
2018   [4.5, 7.5, 5.5, 3.6, 3.9, 5.6, 4.9, 4.7, 5.1, ...
2019   [3.1, 5.4, 1.6, 2.4, 3.2, 5.6, 5.6, 6.3, 5, 6....
2020   [2.9, 2.1, 4.6, 6.2, 2.7, 2.1, 2.8, 2.3, 2.6, ...
2021   [2.7, 2.1, 2, 1.5, 1.8, 2.1, 1.8, 1.3, 1.9, 2....
2022   [2.3, 1, 1.4, 3.6, 1.4, 2.8, 2.2, 0.9, 0.7, 0....

                                                          \
Month                                                 6
Year
2018   [5.3, 8.2, 6.1, 3.9, 3.5, 5.4, 5.1, 5.9, 5.1, ...
2019   [4.1, 5.5, 1.9, 2.8, 2.2, 6.3, 5.8, 6.6, 5.4, ...
2020   [2.4, 3.4, 1.5, 3.1, 1.6, 2.5, 3.4, 4.1, 2.6, ...
2021   [2.8, 2, 2.1, 2.5, 1.1, 1.5, 2.2, 2.3, 2.3, 3....
2022   [2, 3.2, 3.1, 1.6, 1.1, 2.3, 4.9, 3.8, 2.9, 3,...

                                                          \
Month                                                 7
Year
2018   [5, 6.5, 6.4, 4.6, 4.2, 3.6, 6.2, 5, 5.4, 3.4,...
2019   [5, 5.4, 1.5, 2.5, 2.1, 5.2, 5.9, 8.2, 4.7, 5....
2020   [-, 3.8, 3.7, 3.8, 2, 1.2, 2.1, 1.4, 2, 1.6, 1...
2021   [3.2, 3.7, 3.2, 3.9, 1.2, 2.8, 5.7, 6.3, 8.8, ...
2022   [2.5, 3, 5.4, 3.1, 3, 2.7, 2.8, 2.6, 2.3, 1.8,...

                                                          \
Month                                                 8
Year
2018   [5.4, 7.2, 2.9, 2.3, 4.6, 5.3, 4.8, 5.3, 4.5, ...
2019   [7.5, 3.4, 1.8, 2.5, 2.6, 5.4, 3.4, 4.8, 6, 9,...
2020   [0.6, 3.4, 0.6, 2.7, 4.7, 0.7, 0.6, 0.6, 0.7, ...
2021   [3.6, 4.6, 3.7, 7.8, 6.5, 8.6, 5.9, 2.7, 4.6, ...
2022   [2, 1.9, 1.6, 1.4, 1.8, 2.2, 2.2, 2.2, 1.5, 2....

                                                          \
Month                                                 9
Year
2018   [2.5, 6.7, 3.3, 4.7, 4.6, 4.5, 4.6, 4.6, 5.4, ...
2019   [4.8, 1.7, 2.2, 2.8, 3.3, 6.6, 9.3, 6.8, 5.3, ...
2020   [8.7, 2.1, 1.8, 2.7, 1.1, 2.7, 0.7, 1.6, 1.2, ...
2021   [0.8, 2.5, 3.2, 3.8, 3.5, 5.6, 5.2, 7.1, 5.5, ...
2022   [1.3, 0.8, 2.4, 3.3, 2.6, 1.9, 4.7, 1.6, 1.3, ...

                                                          ...  \
Month                                                 10  ...
Year                                                      ...
2018   [4.3, 8.4, 6.2, 5.6, 5.6, 4.2, 4.2, 5.7, 4.8, ...  ...
2019   [4.1, 1.3, 1, 2, 2.8, 5.4, 4.9, 6.5, 5.1, 4.7,...  ...
2020   [3.4, 3, 3, 2.1, 2.6, 2, 2.5, 1.6, 1.3, 1.3, 0...  ...
2021   [1.7, 1.1, 1, 1.7, 1.2, 0.6, 1.2, 1.7, 2.7, 2....  ...
2022   [1.9, 1.6, 1.1, 3.7, 1, 1.1, 1.5, 1.8, 1.2, 2....  ...

                                                  Xylene  \
Month                                                 3
Year
2018   [1.7, 5.1, 2.3, 2.3, 5.9, 2.3, 4.2, 3.7, 3.6, ...
2019   [4.9, 2.7, 0.4, 0.7, 2.3, 7.3, 4.2, 7.7, 31.8,...
2020   [1.1, 0.5, 3.4, 0.7, 1.5, 2.9, 2.7, 2.7, 3.7, ...
2021   [2.1, 2.3, 2.5, 2.6, 2.8, 2.2, 4.7, 1.5, 4.6, ...
2022   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...

                                                          \
Month                                                 4
Year
2018   [2.5, 4.2, 2, 2.2, 3.2, 1.8, 3.8, 5, 3.9, 3.7,...
2019   [3.7, 1.3, 0.5, 1, 0.9, 2, 3.6, 3.8, 4.9, -, 3...
2020   [1.9, 1, 1, 3.1, 2.2, 1, 0.8, 1, 1.1, 1, 1.1, ...
2021   [2.4, 1.5, 0.9, 2.8, 1.5, 1.4, 1.5, 1.4, 1.5, ...
2022   [1.1, 0.9, 0.9, 0.9, 1, 1, 1.1, 1.1, 1.1, 0.8,...

                                                          \
Month                                                 5
Year
2018   [3.3, 4.9, 3, 2.3, 2.4, 3.6, 3.9, 2.7, 4.4, 4....
2019   [1.3, 2.5, 0.6, 0.9, 0.7, 2.5, 3.9, 6.2, 6.1, ...
2020   [0.6, 0.7, 2.4, 4.8, 2.3, 1.2, 1.2, 0.7, 2.3, ...
2021   [1.2, 0.9, 1.2, 1.5, 1.4, 1.6, 1.5, 0.7, 1.3, ...
2022   [0.9, 0.8, 0.9, 1.8, 1.7, 2.3, 1.6, 1.4, 0.6, ...

                                                          \
Month                                                 6
Year
2018   [4, 6, 2.1, 2.1, 1.8, 3.5, 4.5, 3.6, 4.9, 5.3,...
2019   [2, 3.1, 0.6, 0.9, 0.7, 4, 4.1, 5.6, 5.4, 2.9,...
2020   [0.8, 0.8, 0.8, 0.9, 0.9, 1.2, 1.7, 1.5, 1.4, ...
2021   [1.5, 1, 1.3, 1, 1.1, 1, 1.4, 2, 2.1, 2, 1.8, ...
2022   [1.6, 1.6, 1.5, 1.5, 1.2, 2.7, 3.7, 3.4, 2.8, ...

                                                          \
Month                                                 7
Year
2018   [3.4, 3.7, 3.7, 3.1, 2.6, 2.5, 4.2, 4, 4.8, 2....
2019   [2.7, 2.6, 0.3, 0.8, 0.5, 2.3, 3, 6.7, 4.9, 5....
2020   [-, 1.2, 3.8, 2.5, 1.4, 0.3, 1.3, 0.9, 1.2, 1,...
2021   [1.3, 2.4, 1.5, 1.8, 0.4, 0.8, 3, 5, 4.6, 3.5,...
2022   [2.2, 2.7, 3, 3.1, 2.8, 2.8, 3.7, 3.1, 2.5, 2....

                                                          \
Month                                                 8
Year
2018   [2.2, 3.4, 1.4, 1.4, 2.6, 3, 2.6, 4.9, 2.9, 2....
2019   [4.9, 1.6, 0.9, 0.9, 0.7, 2.2, 1.5, 5.3, 3.6, ...
2020   [0.5, 1.9, 0.5, 0.7, 2, 0.5, 0.3, 0.2, 0.2, 0....
2021   [2.7, 3, 2.6, 3.2, 4.4, 4.7, 2.8, 1.8, 1.9, 2....
2022   [1.5, 1.6, 1.4, 1.2, 1.7, 1.4, 1.4, 1.6, 1.1, ...

                                                          \
Month                                                 9
Year
2018   [0.8, 3.8, 1.4, 3.2, 2.8, 2.8, 3.2, 3.7, 3.6, ...
2019   [3.1, 0.5, 1.2, 0.7, 0.9, 3.3, 5.7, 4.5, 3.4, ...
2020   [7.5, 3.1, 2.5, 2.2, 1.1, 1.8, 0.8, 1.6, 0.9, ...
2021   [4, 1.8, 3.2, 2.6, 2, 3.4, 3.3, 5.5, 6.5, 5.5,...
2022   [0.6, 4.6, 2, 1, 3.2, 5.5, 15.7, 0.6, 0.5, 1.1...

                                                          \
Month                                                 10
Year
2018   [2.1, 3.1, 3.3, 4, 2.9, 1.7, 3.3, 4, 3.2, 3.6,...
2019   [2.4, 0.5, 0.3, 0.6, 0.7, 3, 3.3, 6.1, 4.8, 3....
2020   [1.2, 3.9, 0.9, 2.9, 1.3, 2.2, 3.1, 1.9, 1.5, ...
2021   [1.8, 2.3, 2.6, 3.4, 3.6, 2.5, 3.4, 5.3, 3.6, ...
2022   [1.1, 0.9, 0.9, 1, 0.4, 0.4, 0.8, 0.9, 0.5, 1....

                                                          \
Month                                                 11
Year
2018   [2.6, 1.7, 2.7, 2.5, 2, 2.5, 4.2, 4.2, 4.1, 5....
2019   [1.1, 0.2, 0.5, -, 0.8, 3.7, 2.8, 3.1, 5.4, 4....
2020   [1.3, 0.1, 0.8, 0.1, 0.1, 2, 0.2, 0.1, 0, 0.2,...
2021   [74.7, 22.8, 7.4, 4.7, 4.6, 3.5, 3, 2.5, 2.1, ...
2022   [0.6, 0.5, 0.6, 0.6, 1.4, 3, 1.8, 2.3, 0.8, 0....


Month                                                 12
Year
2018   [2.7, 1.4, 2.7, 2.2, 2.5, 3.8, 4.1, 2.7, 4.1, ...
2019   [2.3, 0.3, 0.7, 1.2, 0.6, 3.5, 2.8, 7.4, 4.5, ...
2020   [1.2, 3.9, 1.2, 4.1, 3.7, 1.6, 3.8, 2.9, 2, 3....
2021   [0.7, 0.6, 0.7, 0.7, 0.8, 0.7, 0.6, 0.5, 1.1, ...
2022   [0.7, 0.7, 0.7, 0.5, 0.5, 0.8, 0.6, 0.3, 0.5, ...

[5 rows x 96 columns]

In [43]:
# Pivot_table.to_excel("WIND_DATA_Pollutants.xlsx")

In [24]:
# Pivot_table.shape

(5, 12)

In [41]:
# Pivot_table = df.pivot_table(index="Year", columns="Month", values=["NOx","NO2","NO","CO","Ozone","Benzene","Toluene","Xylene"], aggfunc=list)

In [29]:
# Pivot_table.to_excel("Whisker_sortedPM2.5.xlsx")

In [57]:
%pip install seaborn

In [56]:
df.sort_values('Date',inplace=True)

In [ ]:
# grouped =  df.groupby(['Month','Year'])["PM2.5"

In [ ]:
# grouped.head()

In [58]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
plt.figure(figsize=(14, 8))
january.boxplot()

In [ ]:
df.head()

In [ ]:



# correlation_matrix = df.corr()

# # Plotting the correlation matrix as a heatmap
# plt.figure(figsize=(14, 8))
# sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm')
# plt.title("Correlation Matrix")
# plt.show()

In [ ]:
# plt.savefig('Correlation_matrix.jpg')

In [ ]:
# import numpy as np

# # Generate the whisker plot
# plt.figure(figsize = (14,8))
# january.boxplot()

# # Add a curve connecting the mean values
# groups = january.columns
# means = january.mean().values
# x = np.arange(1, len(groups) )
# plt.plot(x, means, marker='o', linestyle='-', color='red')

# # Add mean labels
# for i, mean in enumerate(means):
#     plt.text(x[i], mean, f'{mean:.2f}', ha='center', va='bottom')

# # Add a title and labels to the plot
# plt.title('Whisker Plot with Mean Curve')
# plt.xlabel('Groups')
# plt.ylabel('Values')

# # Show the plot
# plt.show()

In [ ]:
features = df.loc[:,"Temp":]

In [ ]:
features.isnull().any().any()

In [ ]:
target_variables = ['CO','Ozone','NO','NO2','NOx','NH3','SO2','PM2.5']

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
for target in target_variables:
    y = df[target]

    model = LinearRegression()
    model.fit(features,y)
    
    coefficients = model.coef_
    intercept = model.intercept_
    
    # Print the equation of the linear regression model
    equation = '{} = {:.2f}'.format(target,intercept)
    for i, feature_name in enumerate(features.columns):
        coefficient = coefficients[i]
        equation += ' + {:.2f} * {}'.format(coefficient, feature_name)

    print('Equation:', equation)

In [ ]:
print("Coefficients:",model.coef_)
print("Intercept:",model.intercept_)