In [1]:
import pandas as pd

In [2]:
%pip install openpyxl

In [2]:
# WD = pd.read_table("New_Data.txt",header=0,names=['Date','Wind_degree','Wind_speed'])

In [3]:
WD = pd.read_excel("5 years_1.xlsx")

In [9]:
use_cols = ['Date','CO','Ozone','NO','NO2','NOx','NH3','SO2','PM2.5','PM10','Benzene','Toluene','Xylene','Temp','RH','Wind_degree','Wind_speed','SR','RF']

In [10]:
WD.columns = use_cols

In [11]:
WD.head()

,Date,CO,Ozone,NO,NO2,NOx,NH3,SO2,PM2.5,PM10,Benzene,Toluene,Xylene,Temp,RH,Wind_degree,Wind_speed,SR,RF
0,01-01-18 M on,0.94,95.5,1.5,22.9,24.4,11.4,5.5,58,96,2.6,3.5,0.6,25,65,160,2.2,79,0
1,02-01-18 Tue,1.02,99,1.5,28.9,30.4,11.9,10.1,65,109,3,3.8,0.8,24.7,60,176,2,120,0
2,03-01-18 Wed,1.08,85.2,4.4,41.9,46.2,13.3,12.9,78,151,2.9,6.2,1.7,24.2,62,124,1.4,118,0
3,04-01-18 Thu,1.91,34.2,30.9,81.8,112.8,17.2,33.2,109,234,3.4,6.1,2.5,23,69,214,0.8,111,0
4,05-01-18 Fri,1.51,57.1,41.4,59.7,101.2,14.1,11.3,90,175,4.5,7.8,3.3,23.2,67,221,1.3,151,0

In [12]:
WD.shape

(2006, 19)

In [13]:
WD.dtypes

Date           object
CO             object
Ozone          object
NO             object
NO2            object
NOx            object
NH3            object
SO2            object
PM2.5          object
PM10           object
Benzene        object
Toluene        object
Xylene         object
Temp           object
RH             object
Wind_degree    object
Wind_speed     object
SR             object
RF             object
dtype: object

In [14]:
WD.Wind_degree[1273]

'-'

In [15]:
index = []
for i, wind_degree in WD.Wind_degree.items():
    if wind_degree in ['-','Maint.*']:
        # print(wind_degree)  # Print the value for debugging
        index.append(i)

In [16]:
len(index)

39

In [17]:
WD.drop(index,axis = 0,inplace=True)

In [18]:
WD.shape

(1967, 19)

In [19]:
 WD['Wind_degree']=WD.Wind_degree.astype(int)

In [20]:
WD.dtypes

Date           object
CO             object
Ozone          object
NO             object
NO2            object
NOx            object
NH3            object
SO2            object
PM2.5          object
PM10           object
Benzene        object
Toluene        object
Xylene         object
Temp           object
RH             object
Wind_degree     int32
Wind_speed     object
SR             object
RF             object
dtype: object

In [21]:
WD.head()

,Date,CO,Ozone,NO,NO2,NOx,NH3,SO2,PM2.5,PM10,Benzene,Toluene,Xylene,Temp,RH,Wind_degree,Wind_speed,SR,RF
0,01-01-18 M on,0.94,95.5,1.5,22.9,24.4,11.4,5.5,58,96,2.6,3.5,0.6,25,65,160,2.2,79,0
1,02-01-18 Tue,1.02,99,1.5,28.9,30.4,11.9,10.1,65,109,3,3.8,0.8,24.7,60,176,2,120,0
2,03-01-18 Wed,1.08,85.2,4.4,41.9,46.2,13.3,12.9,78,151,2.9,6.2,1.7,24.2,62,124,1.4,118,0
3,04-01-18 Thu,1.91,34.2,30.9,81.8,112.8,17.2,33.2,109,234,3.4,6.1,2.5,23,69,214,0.8,111,0
4,05-01-18 Fri,1.51,57.1,41.4,59.7,101.2,14.1,11.3,90,175,4.5,7.8,3.3,23.2,67,221,1.3,151,0

In [22]:
indu = []
for i,Date in WD.Date.items():
    if Date in ['Minimum','Maximum','Average']:
        indu.append(i)

In [23]:
len(indu)

180

In [24]:
WD.drop(indu,axis = 0 ,inplace = True)

In [25]:
WD.shape

(1787, 19)

In [26]:
WD['Wind_speed']=WD.Wind_speed.astype(float)

WD.dtypes

In [27]:
WD.Wind_degree

0       160
1       176
2       124
3       214
4       221
       ...
1998    257
1999    281
2000    224
2001     95
2002    241
Name: Wind_degree, Length: 1787, dtype: int32

In [28]:
for i,degree in WD.Wind_degree.items():
    if degree>360:
        WD.Wind_degree[i] -= 360

<ipython-input-28-b54975f5779a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  WD.Wind_degree[i] -= 360

In [21]:
# WD["wind-degrees"] = pd.cut(WD['Wind_degree'], bins=list(range(0, 361, 20)), right=False, labels=False)

In [29]:
print(WD)

                     Date    CO Ozone    NO   NO2    NOx   NH3   SO2 PM2.5  \
0           01-01-18 M on  0.94  95.5   1.5  22.9   24.4  11.4   5.5    58
1            02-01-18 Tue  1.02    99   1.5  28.9   30.4  11.9  10.1    65
2            03-01-18 Wed  1.08  85.2   4.4  41.9   46.2  13.3  12.9    78
3            04-01-18 Thu  1.91  34.2  30.9  81.8  112.8  17.2  33.2   109
4            05-01-18 Fri  1.51  57.1  41.4  59.7  101.2  14.1  11.3    90
...                   ...   ...   ...   ...   ...    ...   ...   ...   ...
1998  2022-12-27 00:00:00  0.59  15.2    46  36.3   82.5  26.9   9.3    43
1999  2022-12-28 00:00:00  0.59  14.1  25.9  32.6   58.6  26.4   9.2    32
2000  2022-12-29 00:00:00  0.53  16.1  15.2    28   43.3  27.9   9.2    35
2001  2022-12-30 00:00:00  0.59  16.2   5.9  24.5   30.4  32.7   8.8   102
2002  2022-12-31 00:00:00  0.59  14.8  28.2  36.5   64.8  29.7     9    67

     PM10 Benzene Toluene Xylene  Temp  RH  Wind_degree  Wind_speed   SR RF
0      96     2.6     3.5    0.6    25  65          160         2.2   79  0
1     109       3     3.8    0.8  24.7  60          176         2.0  120  0
2     151     2.9     6.2    1.7  24.2  62          124         1.4  118  0
3     234     3.4     6.1    2.5    23  69          214         0.8  111  0
4     175     4.5     7.8    3.3  23.2  67          221         1.3  151  0
...   ...     ...     ...    ...   ...  ..          ...         ...  ... ..
1998  148       3    12.9    1.6  26.6  81          257         0.0  115  0
1999   93     3.3    23.6    0.8  26.8  79          281         0.0  110  0
2000   79     1.9    14.7    0.5  26.4  82          224         0.0  109  0
2001  157     2.7     7.7    0.4  25.9  80           95         0.1   95  0
2002  152       3    10.8      1  25.7  81          241         0.0   98  0

[1787 rows x 19 columns]

In [50]:
ranges = {
    (0, 22.5): 'N',
    (22.5, 67.5): 'NE',
    (67.5, 112.5): 'E',
    (112.5, 157.5): 'SE',
    (157.5, 202.5): 'S',
    (202.5, 247.5): 'SW',
    (247.5, 292.5): 'W',
    (292.5, 337.5): 'NW',
    (337.5, 360.1): 'N'
}

In [51]:
def map_range(deg):
    for r, label in ranges.items():
        if deg >= r[0] and deg < r[1]:
            return label

In [52]:
WD['Wind Degree Range'] = WD['Wind_degree'].apply(map_range)

In [53]:
WD[WD['Date']=='27-02-21']

Empty DataFrame
Columns: [level_0, index, Date, CO, Ozone, NO, NO2, NOx, NH3, SO2, PM2.5, PM10, Benzene, Toluene, Xylene, Temp, RH, Wind_degree, Wind_speed, SR, RF, Wind Degree Range, Year]
Index: []

[0 rows x 23 columns]

In [40]:
WD.dtypes

index                  int64
Date                  object
CO                    object
Ozone                 object
NO                    object
NO2                   object
NOx                   object
NH3                   object
SO2                   object
PM2.5                 object
PM10                  object
Benzene               object
Toluene               object
Xylene                object
Temp                  object
RH                    object
Wind_degree            int32
Wind_speed           float64
SR                    object
RF                    object
Wind Degree Range     object
dtype: object

In [55]:
# WD = WD.sort_values("Wind Degree Range").reset_index()

In [35]:
print(WD)

      level_0  index                 Date    CO  Ozone   NO   NO2   NOx   NH3  \
0        1786   1573  2021-12-03 00:00:00  0.48     39  7.2  26.3  33.5  24.3
1        1785   1548  2021-11-11 00:00:00  0.66   19.5  7.1  21.5  28.6  13.6
2        1739    327         28-10-18 Sun  0.61  128.3  3.4  22.1  25.5  10.3
3        1740    345        12-11-18 M on  0.92  112.3  4.1  32.9    37  13.1
4        1742    381         15-12-18 Sat  0.75   87.4  4.1  19.1  23.2  11.9
...       ...    ...                  ...   ...    ...  ...   ...   ...   ...
1782     1648   1619  2022-01-15 00:00:00  0.37   23.2  3.6  12.7  16.3  12.7
1783     1649   1558  2021-11-21 00:00:00  0.52   22.9    4  17.6  21.6    40
1784     1650   2001  2022-12-30 00:00:00  0.59   16.2  5.9  24.5  30.4  32.7
1785     1652   1565  2021-11-28 00:00:00  0.57   71.4  2.8  17.3  20.1    29
1786     1575   1941  2022-11-03 00:00:00  0.71   28.2  5.9  21.8  27.7  18.5

       SO2  ... Benzene Toluene Xylene  Temp  RH Wind_degree Wind_speed   SR  \
0     16.4  ...     2.4     7.3    0.7  23.7  71          22        0.1   27
1     16.9  ...     2.9     7.5    1.8  24.7  78          21        0.1   46
2      7.3  ...       3     5.2    1.2  27.9  60          13        3.5  135
3     12.2  ...     4.9     9.1    2.5  27.4  63          11        2.5  120
4     10.3  ...     3.7     4.9      1  26.2  57          22        4.2   78
...    ...  ...     ...     ...    ...   ...  ..         ...        ...  ...
1782    16  ...     1.9     3.8    0.6  22.6  80          68        0.1  115
1783  17.4  ...     1.3     8.4    0.8  27.5  82          79        0.1  118
1784   8.8  ...     2.7     7.7    0.4  25.9  80          95        0.1   95
1785  16.5  ...       2     4.1    0.4  26.6  68          72        0.1   71
1786    25  ...       2     6.8    0.6  28.9  76          82        0.1   81

       RF Wind Degree Range
0       0            0-22.5
1     9.5            0-22.5
2       0            0-22.5
3       0            0-22.5
4       0            0-22.5
...   ...               ...
1782    0        67.5-112.5
1783    0        67.5-112.5
1784    0        67.5-112.5
1785    0        67.5-112.5
1786    1        67.5-112.5

[1787 rows x 22 columns]

In [56]:
WD['Date']=pd.to_datetime(WD.Date)

In [58]:
WD['Date'] = WD.Date.dt.date

In [57]:
WD["Year"] = WD.Date.dt.year

In [59]:
WD.head()

,level_0,index,Date,CO,Ozone,NO,NO2,NOx,NH3,SO2,...,Toluene,Xylene,Temp,RH,Wind_degree,Wind_speed,SR,RF,Wind Degree Range,Year
0,1786,1573,2021-12-03,0.48,39,7.2,26.3,33.5,24.3,16.4,...,7.3,0.7,23.7,71,22,0.1,27,0,N,2021
1,1785,1548,2021-11-11,0.66,19.5,7.1,21.5,28.6,13.6,16.9,...,7.5,1.8,24.7,78,21,0.1,46,9.5,N,2021
2,1739,327,2018-10-28,0.61,128.3,3.4,22.1,25.5,10.3,7.3,...,5.2,1.2,27.9,60,13,3.5,135,0,N,2018
3,1740,345,2018-12-11,0.92,112.3,4.1,32.9,37,13.1,12.2,...,9.1,2.5,27.4,63,11,2.5,120,0,N,2018
4,1742,381,2018-12-15,0.75,87.4,4.1,19.1,23.2,11.9,10.3,...,4.9,1,26.2,57,22,4.2,78,0,N,2018

In [61]:
df = WD.set_index(['Wind Degree Range','Year'])

In [59]:
# df.drop('Date',axis = 1,inplace=True)

In [62]:
df

                        level_0  index        Date    CO  Ozone   NO   NO2  \
Wind Degree Range Year
N                 2021     1786   1573  2021-12-03  0.48     39  7.2  26.3
                  2021     1785   1548  2021-11-11  0.66   19.5  7.1  21.5
                  2018     1739    327  2018-10-28  0.61  128.3  3.4  22.1
                  2018     1740    345  2018-12-11  0.92  112.3  4.1  32.9
                  2018     1742    381  2018-12-15  0.75   87.4  4.1  19.1
...                         ...    ...         ...   ...    ...  ...   ...
E                 2022     1648   1619  2022-01-15  0.37   23.2  3.6  12.7
                  2021     1649   1558  2021-11-21  0.52   22.9    4  17.6
                  2022     1650   2001  2022-12-30  0.59   16.2  5.9  24.5
                  2021     1652   1565  2021-11-28  0.57   71.4  2.8  17.3
                  2022     1575   1941  2022-11-03  0.71   28.2  5.9  21.8

                         NOx   NH3   SO2  ... PM10 Benzene Toluene Xylene  \
Wind Degree Range Year                    ...
N                 2021  33.5  24.3  16.4  ...   89     2.4     7.3    0.7
                  2021  28.6  13.6  16.9  ...   80     2.9     7.5    1.8
                  2018  25.5  10.3   7.3  ...  104       3     5.2    1.2
                  2018    37  13.1  12.2  ...  156     4.9     9.1    2.5
                  2018  23.2  11.9  10.3  ...  167     3.7     4.9      1
...                      ...   ...   ...  ...  ...     ...     ...    ...
E                 2022  16.3  12.7    16  ...   61     1.9     3.8    0.6
                  2021  21.6    40  17.4  ...   47     1.3     8.4    0.8
                  2022  30.4  32.7   8.8  ...  157     2.7     7.7    0.4
                  2021  20.1    29  16.5  ...  149       2     4.1    0.4
                  2022  27.7  18.5    25  ...   85       2     6.8    0.6

                        Temp  RH Wind_degree  Wind_speed   SR   RF
Wind Degree Range Year
N                 2021  23.7  71          22         0.1   27    0
                  2021  24.7  78          21         0.1   46  9.5
                  2018  27.9  60          13         3.5  135    0
                  2018  27.4  63          11         2.5  120    0
                  2018  26.2  57          22         4.2   78    0
...                      ...  ..         ...         ...  ...  ...
E                 2022  22.6  80          68         0.1  115    0
                  2021  27.5  82          79         0.1  118    0
                  2022  25.9  80          95         0.1   95    0
                  2021  26.6  68          72         0.1   71    0
                  2022  28.9  76          82         0.1   81    1

[1787 rows x 21 columns]

In [63]:
df.to_excel("Directions.xlsx")

In [33]:
# pd.set_option('display.max_rows',None)

In [34]:
# ser

In [35]:
# speed_ranges = {
#     (-1, 0): '-1-0',
#     (0, 1): '0-1',
#     (1, 2): '1-2',
#     (2, 3): '2-3',
#     (3, 4): '3-4',
#     (4, 5): '4-5',
#     # Add more ranges as needed
# }

In [36]:
# def map_speed_range(speed):
#     for r, label in speed_ranges.items():
#         if speed >= r[0] and speed < r[1]:
#             return label

In [37]:
# import numpy as np

In [38]:
# for label in speed_ranges.values():
#     WD[label] = np.nan

In [39]:
# for index, row in WD.iterrows():
#     wind_speed = row['Wind_speed']
#     wind_degree_range = row['Wind Degree Range']
#     speed_label = map_speed_range(wind_speed)
#     if not pd.isna(speed_label):
#         WD.loc[index, speed_label] = wind_speed

In [40]:
# pd.reset_option('display.max_rows')

In [41]:
# pd.set_option('display.max_column',100)

In [42]:
# print(WD/

In [43]:
# WD['Date'] = WD.Date.dt.date

In [44]:
# print(WD)

In [45]:
# %pip install openpyxl

In [46]:
# WD.to_excel("WindData.xlsx",index = False)